@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&family=Poppins:wght@300;400;600&family=Roboto+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Roboto Condensed', sans-serif;
}

:root {
    --black: #222e35;
    --gray: #ddd;
    --white: #ffffff;
    --orange: #d48b04;
    --overlay: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
    --bold: 'Bebas Neue';
    --poppins: 'Poppins';
    --cookie: 'Cookie', cursive;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.heading {
    color: var(--black);
    text-transform: uppercase;
    font-size: 72px;
}

.sub_heading {
    color: var(--orange);
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 15px;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: solid 2px var(--black);
    transition: 3s linear ease;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}

.btn:hover {
    background-color: var(--black);
    color: var(--white);
}


/* hero section */

.main_container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: var(--overlay), url('../../image/background1.jpg');
    background-image: none repeat;
    background-size: cover;
    background-position: center;
}

.content_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 400px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--black); */
    padding: 0 30px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.brand a {
    text-transform: capitalize;
    font-size: 42px;
    font-family: var(--cookie);
    color: var(--orange);
}

nav ul li a {
    text-transform: uppercase;
    color: #fff;
    padding: 0 20px;
    font-weight: 600;

}

nav ul li a.active {
    color: var(--orange);
}


/* Flavor Section */

.flavor_container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: var(--overlay), url('../../image/background7.jpg');
    background-image: none repeat;
    background-size: cover;
    background-position: center;
}

.flavor {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--black);
}

.flavor_content {
    padding: 30px;
    width: 50%;
    color: var(--white);
    text-align: justify;
    font-size: 18px;
}

.flavor_content h3 {
    margin-bottom: 10px;
    color: var(--orange);
}


.flavor_img {
    display: grid;
    place-items: center;
    width: 50%;
}

.flavor_img img {
    width: 60%;
    border: 2px solid var(--white);
}

/* Menu section  */

.menu_section {
    width: 100%;
    height: 700px;
    background-color: var(--gray);
    text-align: center;
    padding-top: 40px;
}

.menu_section h2 {
    font-size: 42px;
    color: var(--orange);
}

.menu_card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0;
}

.menu_card img {
    width: 100%;
    height: auto;
}

.card {
    width: 360px;
    height: 500px;
}

.card_body {
    text-align: left;
    width: 100%;
    height: calc(100%-500px);
    padding: 15px;
    background-color: var(--black);
}

.card_body h4 {
    text-transform: capitalize;
    color: var(--orange);
    font-size: 24px;
}

.card_body p {
    margin: 10px 0;
    color: var(--gray);
}

.email_box button,
.card_body button {
    border: 2px solid var(--white);
    color: var(--white);
}

.email_box button:hover,
.card_body button:hover {
    background-color: var(--white);
    color: var(--black);
}

.special_section {
    width: 100%;
    height: 200px;
    background-color: var(--gray);
}

.special {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.special .card_item {
    display: grid;
    place-items: center;
    width: 360px;
    height: 200px;
    color: var(--black);
}

.card_item h4 {
    text-transform: capitalize;
    font-size: 32px;
}

.card_item p {
    font-size: 15px;
}

/* image_container */
.image_container {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: var(--overlay), url('../../image/background4.jpg');
    background-image: none repeat;
    background-size: cover;
    background-position: center;
}

/* booking section */
.booking_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 600px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* subscribe_us */

.subscribe_us {
    text-align: center;
    line-height: 200px;
    width: 100%;
    height: 200px;
    background-color: var(--black);
    padding: 10px;
}

.email_box input {
    width: 65%;
    height: 40px;
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: 15px;
}






/* Footer Section */
.footer_container {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: var(--overlay), url('../../image/background8.jpg');
    background-image: none repeat;
    background-size: cover;
    background-position: center;
}

.contact_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 600px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--gray);
}

.footer_box {
    padding-top: 15px;
    width: 30%;
    height: 250px;
    z-index: 1;
}

.footer_box h3 {
    color: var(--black);
    margin: 10px 0;
}

.footer_box p {
    text-align: justify;
    color: var(--black);
    line-height: 1.5;
}

.useful_links ul li a {
    color: var(--black);
}

.useful_links ul li {
    padding: 5px 0;
}

.useful_links li a i {
    color: var(--orange);
    padding-right: 5px;
}


.contact li {
    text-align: start;
    text-transform: capitalize;
    color: var(--black);
}

.contact li a {
    color: var(--black);
}

.contact li i {
    color: var(--orange);
    margin: 10px 0;
    padding-right: 5px;
}

.contact .social_links a i {
    font-size: 18px;
    color: var(--orange);
    margin: 10px 0;
    padding-right: 20px;
}

.social_links i:first-child {
    padding-right: 0px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-top: solid 1px var(--black);
    color: var(--black);
    background-color: var(--gray);
}