@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&family=Poppins:wght@300;400;600&family=Roboto+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Roboto Condensed', sans-serif;
}

:root {
    --black: #222e35;
    --gray: #FFEBF1;
    --white: #ffffff;
    --orange: #d48b04;
    --overlay: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
    --bold: 'Bebas Neue';
    --poppins: 'Poppins';
    --cookie: 'Cookie', cursive;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.heading {
    color: var(--black);
    text-transform: uppercase;
    font-size: 72px;
}

.sub_heading {
    color: var(--orange);
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 15px;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: solid 2px var(--black);
    transition: 3s linear ease;
    outline: none;
    font-size: 18px;
    font-weight: 500;
}

.btn:hover {
    background-color: var(--black);
    color: var(--white);
}


/* hero section */

.main_container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: var(--overlay), url('../../image/background1.jpg');
    background-image: none repeat;
    background-size: cover;
    background-position: center;
}

.content_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    padding: 0 30px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.brand {
    text-transform: capitalize;
    font-size: 42px;
    font-family: var(--cookie);
    color: var(--orange);
}

nav ul li a {
    text-transform: uppercase;
    color: #fff;
    padding: 0 20px;
    font-weight: 600;

}

nav ul li a.active {
    color: var(--orange);
}

/* Footer Section */

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--black);
}

.footer_box {
    width: 30%;
    height: 250px;
    margin: 5px;
}

.footer_box h3 {
    color: var(--orange);
    margin: 10px 0;
}

.footer_box p {
    text-align: justify;
    color: var(--white);
    line-height: 1.5;
}

.useful_links ul li a {
    color: var(--white);
}

.useful_links ul li {
    padding: 5px 0;
}

.useful_links li i {
    color: var(--orange);
    padding-right: 5px;
}


.contact li {
    text-align: start;
    text-transform: capitalize;
    color: var(--white);
}

.contact li a {
    color: var(--gray);
}

.contact li i {
    color: var(--orange);
    margin: 10px 0;
    padding-right: 5px;
}

.contact .social_links a i {
    font-size: 18px;
    color: var(--white);
    margin: 10px 0;
    padding-right: 20px;
}

.social_links i:first-child {
    padding-right: 0px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-top: solid 1px var(--white);
    color: var(--white);
    background-color: var(--black);
}